 <header>some heading</header>
    <h1>HEADDDINGu</h1>
    
    <section>what does this do? can I list it?
    <ul>
      <li>listing</li>
      <li>some</li>
      <li>stuff</li>
    </ul>
    </section>
    
     <section>look, another section
    <ul>
      <li>listing</li>
      <li>some</li>
      <li>stuff</li>
    </ul>
    </section>
    
    <input onclick="alert('stop clicking meh')" type="button" value="Buttn">
    <input type="button" value = "moar bttn">
    <input type="button" value = "tripple">
    <footer>this stuff is so copyright its unbelievable</footer>

<%= link_to 'About', about_path %>